# Node/Next
web/node_modules/
web/.next/
web/.vercel/
web/.env
web/.env.local
web/.env.*.local
web/package-lock.json

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac/Win
.DS_Store
Thumbs.db
web/tsconfig.tsbuildinfo
